.site-footer {
  background-color: $color__midnight-green;
  color: $color__alabaster;

  .footer-content {
    display: flex;
    justify-content: space-between;

    a {
      transition: all ease-in 0.3s;
      color: $color__alabaster;
      text-decoration: none;
    }

    a:hover {
      color: $color__blue;
      text-decoration: underline;
    }
  }

  .footer-2-container {
    width: 50%;

    h3 {
      font-size: 16px;
      text-transform: uppercase;
      color: $color__blue;
    }
  }

  .wp-block-column {
    p:last-of-type {
      margin-bottom: 0;
    }
    > .wp-block-heading {
      letter-spacing: 0.2em;
    }
  }

  .copyright {
    background-color: #063031;
    padding: 20px 0;
    text-transform: uppercase;
    color: $color__blue;

    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      gap: 20px;
    }

    a {
      text-decoration: none;
    }

    a:hover {
      color: $color__blue;
    }
  }
}

.socials-container {
  .wp-element-button {
    width: 48px;
    height: 48px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 1024px) {
  .site-footer .footer-content {
    flex-direction: column;
    gap: 80px;

    .footer-2-container {
      width: 100%;

      .wp-block-columns {
        justify-content: space-between;
        gap: 40px 20px;

        .wp-block-column {
          width: fit-content;
          flex-basis: auto !important;
        }
      }
    }
  }
  .footer-1-container {
    .wp-block-image {
      justify-content: center;
      display: flex;
    }
  }
  .site-footer .copyright > div {
    justify-content: center;
  }
}
