.site-footer {
  background-color: $color__midnight-green;
  color: $color__alabaster;

  .footer-content {
    display: flex;
    justify-content: space-between;

    a {
      transition: all ease-in 0.3s;
    }

    a:hover {
      color: $color__alabaster;
    }
  }

  .footer-2-container {
    width: 50%;

    h3 {
      font-size: 16px;
      text-transform: uppercase;
      color: $color__blue;
    }
  }

  .wp-block-column {
    p:last-of-type {
      margin-bottom: 0;
    }
  }

  .copyright {
    background-color: #063031;
    padding: 20px 0;
  }
}

@media screen and (max-width: 1024px) {
  .site-footer .footer-content {
    flex-direction: column;
    gap: 80px;

    .footer-2-container {
      width: 100%;

      .wp-block-columns {
        justify-content: space-between;
        gap: 40px 20px;

        .wp-block-column {
          width: fit-content;
          flex-basis: auto !important;
        }
      }
    }
  }
  .footer-1-container {
    .wp-block-image {
      justify-content: center;
      display: flex;
    }
  }
}
