.midnight-card .forminator-custom-form {
  label {
    display: none !important;
  }
  .select2-container {
    background-color: $color__opacity-blue !important;
    border-radius: 8px !important;
    border: 0px !important;
    outline: 0px !important;

    span {
      border: 0px !important;
      background-color: transparent !important;
    }
    .select2-selection__placeholder {
      color: $color__blue;
    }
    .select2-results__option {
      background-color: transparent !important;
      border: 0px !important;
      outline: 0px !important;
    }
  }
  .forminator-select-dropdown {
    background-color: $color__midnight-green !important;
    border: 0 !important;
  }
  input {
    background-color: $color__opacity-blue;
    border-radius: 8px !important;
    border: 0px !important;
    color: $color__blue !important;

    &::placeholder {
      color: $color__blue !important;
    }
  }
  .select2-selection__arrow {
    color: $color__blue !important;
  }
  .select2-results__option,
  .select2-selection__rendered {
    color: $color__blue !important;
  }
}

.forminator-guttenberg {
  label {
    font-size: 18px !important;
    color: $color__midnight-green;
    font-weight: $font__weight-500;
    margin-bottom: 12px !important;
  }
  input {
    border-radius: 8px !important;
    border: 0px !important;
    background-color: $color__alabaster;

    &::placeholder {
      color: $color__driftwood-lite !important;
    }
  }
}
.forminator-edit-module {
  display: none !important;
}
