// location pages

.page-template-location {
  .location-header {
    width: 100%;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 120px;
    height: calc(100vh - 100px);
    overflow: hidden;
    // position: relative;

    .location-header-bg {
      position: relative;
      height: calc(100svh - 100px);

      .decoration-svg {
        top: auto;
        bottom: -2px;
        width: 30%;

        &.left {
          left: 0;
          transform: rotate(180deg);
        }
        &.right {
          right: 0;
          transform: rotateX(180deg);
        }
      }
    }
  }
  .location-header-inner {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 25svh;
    right: 10%;
    left: auto;
    margin: auto;
    z-index: 5;

    .midnight-card {
      max-width: 600px;
      text-align: center;
      padding: 80px 40px;
      & h1 {
        text-align: center;
        font-size: 48px;
      }
      h1.alt-heading {
        font-size: 21px;
        margin-bottom: 40px;
      }
      p {
        color: $color__alabaster;
        margin-bottom: 20px;
      }
    }
  }
  .location-hero {
    width: 100%;
  }
  .accordion-columns {
    padding-top: 0;
  }
}

@media screen and (max-width: 1024px) {
  .page-template-location {
    .location-header {
      display: flex;
      flex-direction: column-reverse;
      height: auto;
      margin-bottom: 40px;

      .location-header-bg {
        height: 35svh;
        margin-bottom: 10px;
      }
    }
    .location-header-inner {
      justify-content: center;
      position: relative;
      right: 0;
      top: 0;
      padding: 40px 0;

      .midnight-card {
        padding: 40px 20px;

        & h1 {
          text-align: center;
          font-size: 40px;
        }
        h1.alt-heading {
          font-size: 18px;
          margin-bottom: 20px;
        }
        .blue-button {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}

// conditions page

.page-template-conditions {
  .driftwood-card {
    h2 {
      color: $color__midnight-green;
      font-size: 32px;
    }
  }
}

// treatments page

.page-template-treatments {
  .image-content-block {
    background-color: $color__opacity-driftwood;
  }
}

// therapists page

// default hero section
.default-hero {
  position: relative;
  display: flex;

  .default-hero-inner {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  h1 {
    text-align: center;
    color: $color__blue;
    margin-bottom: 0;
  }
  .mobile-spacer {
    display: none;
    height: 115px;
    width: 100%;
    background-color: $color__midnight-green;
  }
}

@media screen and (max-width: 1024px) {
  .default-hero {
    flex-direction: column;
    .mobile-spacer {
      display: flex;
    }
    & h1 {
      margin-bottom: 20px;
    }
  }
}

// treatments/provdier/therapist thumbnail

.therapist-post-thumbnail,
.treatment-post-thumbnail {
  max-width: 1000px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 80px;
  border-bottom: 2px solid $color__opacity-driftwood;
  padding: 60px 0;

  &:first-of-type {
    border-top: 2px solid $color__opacity-driftwood;
  }

  h2 {
    font-size: 32px;
  }
  .thumbnail-content {
    width: 65%;
  }
  .entry-thumbnail {
    width: 35%;
  }
  .post-button {
    display: flex;
    width: fit-content;
  }
}

.therapist-post-thumbnail {
  .thumbnail-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .entry-excerpt {
    font-size: 18px;
    font-weight: $font__weight-500;

    p {
      margin-top: 0;
    }
  }
}

@media screen and (max-width: 1024px) {
  .therapist-post-thumbnail,
  .treatment-post-thumbnail {
    flex-direction: column;
    gap: 40px;

    .thumbnail-content {
      width: 100%;
    }
    .entry-thumbnail {
      width: 100%;

      & img {
        width: 100%;
        max-width: 600px;
      }
    }
    h2 {
      font-size: 28px;
    }
  }
}

// forms page

.page-template-forms {
  .entry-content {
    h2 {
      color: $color__midnight-green;
      font-size: 32px;
    }
    .driftwood-card {
      padding: 80px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .page-template-forms {
    .entry-content {
      h2 {
        font-size: 28px;
      }
      .driftwood-card {
        padding: 40px 20px;
      }
    }
  }
}

// therapists / providers

.page-template-providers {
  .image-content-block {
    background-color: $color__opacity-driftwood;
  }
}

// default page

.page-template-default {
  .entry-content {
    max-width: 960px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    .wp-block-buttons {
      margin-bottom: 1.5em;
    }
  }
}

// provider

.category-provider {
  .post-thumbnail {
    max-width: 500px;
  }
  .post-hero {
    p {
      font-size: 20px;
      font-weight: $font__weight-500;
    }
  }
}
