// location pages

.page-template-location {
  .location-header {
    width: 100%;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 80px;
  }
  .location-header-inner {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 20vw;
    right: 10%;
    left: auto;
    margin: auto;

    .midnight-card {
      max-width: 600px;
      text-align: center;
      padding: 80px 40px;
      & h1 {
        text-align: center;
        font-size: 48px;
      }
      h1.alt-heading {
        font-size: 21px;
        margin-bottom: 40px;
      }
      p {
        color: $color__alabaster;
        margin-bottom: 40px;
      }
    }
  }
  .location-hero {
    width: 100%;
  }
  .accordion-columns {
    padding-top: 0;
  }
}

// conditions page

.page-template-conditions {
  .driftwood-card {
    h2 {
      color: $color__midnight-green;
      font-size: 32px;
    }
  }
}

// treatments page

.page-template-treatments {
  .image-content-block {
    background-color: $color__opacity-driftwood;
  }
}

// default hero section
.default-hero {
  position: relative;
  .default-hero-inner {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  h1 {
    text-align: center;
    color: $color__blue;
    margin-bottom: 0;
  }
}

.treament-post-thumbnail {
  max-width: 960px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 80px;
  border-bottom: 2px solid $color__opacity-driftwood;
  padding: 40px 0;

  &:first-of-type {
    border-top: 2px solid $color__opacity-driftwood;
  }

  h2 {
    font-size: 32px;
  }
  .thumbnail-content {
    width: 70%;
  }
  .entry-thumbnail {
    width: 30%;
  }
  .post-button {
    display: flex;
    width: fit-content;
  }
}

// forms page

.page-template-forms {
  .entry-content {
    h2 {
      color: $color__midnight-green;
      font-size: 32px;
    }
  }
}

// therapists / providers

.page-template-providers {
  .image-content-block {
    background-color: $color__opacity-driftwood;
  }
}

// default page

.page-template-default {
  .entry-content {
    max-width: 960px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
