.page-template-location {
  .location-header {
    width: 100%;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 80px;
  }
  .location-header-inner {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 20vw;
    right: 10%;
    left: auto;
    margin: auto;

    .midnight-card {
      max-width: 600px;
      text-align: center;
      padding: 80px 40px;
      & h1 {
        text-align: center;
        font-size: 48px;
      }
      h1.alt-heading {
        font-size: 21px;
        margin-bottom: 40px;
      }
      p {
        color: $color__alabaster;
        margin-bottom: 40px;
      }
    }
  }
  .location-hero {
    width: 100%;
  }
  .accordion-columns {
    padding-top: 0;
  }
}

.disclaimer {
  background-color: $color__opacity-driftwood;

  p:last-of-type {
    margin-bottom: 0;
  }
}
