.post-hero {
  .outer-wrapper {
    gap: 140px;
    margin-left: auto;
    margin-right: auto;
  }
  & h1 {
    font-size: 48px;
  }
}

.post-navigation {
  display: none;
}

.areas-we-serve {
  background-color: $color__opacity-driftwood;
}

.decoration-svg {
  path {
    fill: $color__non-opacity-driftwood;
  }
}
.home {
  .areas-we-serve {
    background-color: $color__alabaster;
  }
  .decoration-svg {
    path {
      fill: $color__alabaster;
    }
  }
}

.category-treatments {
  .entry-content {
    > h2:nth-child(2) {
      margin-bottom: 80px;
    }
  }
  .wp-block-separator {
    // background: $color__opacity-driftwood;
    color: $color__opacity-driftwood;
    background: none;
  }
}

@media screen and (max-width: 1024px) {
  .post-hero {
    & h1 {
      font-size: 42px;
    }
  }
}
