h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-weight: $font__weight-500;
}

h1 {
  font-size: 56px;
  line-height: 120%;
}
h2 {
  font-size: 48px;
  line-height: 120%;
}
h3 {
  font-size: 32px;
  line-height: 120%;
}
h4 {
  font-size: 28px;
  line-height: 120%;
}

.alt-heading {
  text-transform: uppercase;
  color: $color__driftwood;
  padding-bottom: 20px;
  border-bottom: 2px solid $color__opacity-driftwood;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

h2.alt-heading {
  font-size: 21px;
}
