button.menu-toggle {
  border-radius: 50%;
  border: 2px solid $color__opacity-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color__blue;
  height: 48px;
  width: 48px;
  font-size: 24px;
  padding: 0;
  background-color: transparent;
  display: none;
  scroll-margin-top: 0;
}

.comment-navigation,
.posts-navigation,
.post-navigation {
  .site-main & {
    margin: 0 0 1.5em;
  }

  .nav-links {
    display: flex;
  }

  .nav-previous {
    flex: 1 0 50%;
  }

  .nav-next {
    text-align: end;
    flex: 1 0 50%;
  }
}

.main-navigation {
  display: block;
  width: fit-content;
  margin: 0;

  ul {
    margin: 0;
  }

  .nav-menu {
    display: flex;

    li {
      position: relative;
    }

    a {
      display: block;
      text-decoration: none;
    }

    > li {
      display: flex;
      align-items: center;

      > a {
        color: $color__alabaster;
        padding: 20px 30px 20px 0;
        transition: all ease-in-out 0.3s;
        font-size: 16px;
        font-weight: 400;
      }

      &.profile {
        padding: 0;

        > a {
          border-radius: 50%;
          border: 2px solid $color__opacity-blue;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $color__blue;
          height: 48px;
          width: 48px;
          font-size: 24px;
          padding: 0;
        }

        &:hover {
          > a {
            border-color: $color__blue;
          }
        }
      }
    }
    li:hover {
      > a {
        color: $color__blue;
      }
    }
  }
}

.desktop-nav {
  .sub-menu {
    padding: 10px 0;

    li {
      a {
        color: $color__midnight-green;
        transition: all ease-in-out 0.3s;
        padding: 10px 20px;
        font-size: 12px;
        font-weight: 400;
      }
    }
    li:hover {
      a {
        color: $color__midnight-green;
        text-decoration: underline;
      }
    }
  }

  li.menu-item-has-children {
    position: relative;
  }

  li.menu-item-has-children > ul.sub-menu {
    position: absolute; /* dropdown style */
    top: 100%;
    left: 0;
    width: 300px; /* adjust to your needs */
    background-color: $color__blue;
    z-index: 99;
    display: flex;
    flex-direction: column;
    border-radius: 0 16px 16px 16px;
    // margin-left: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    // position: relative;

    /* GSAP will override height + opacity */
    height: auto;
    opacity: 1;
    overflow: hidden;
    display: block;
  }

  /* Remove default WP submenu hiding */
  li.menu-item-has-children:hover > ul.sub-menu {
    display: block; /* Keep block, GSAP handles visibility */
  }
}

// custom

.site-header {
  background-color: $color__midnight-green;
  padding: 20px 0;

  .site-header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav-icon {
  width: 20px;
  height: 20px;
  position: relative;
  margin: 0px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: $color__alabaster;
    border-radius: 2px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
}

.nav-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  width: 100%;
  //   left: 15%;
}

.nav-icon span:nth-child(2) {
  top: 8px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.nav-icon span:nth-child(3) {
  top: 16px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  width: 100%;
  //   left: 15%;
}

.button-toggled {
  .nav-icon {
    transform: rotate(90deg);
  }
  .nav-icon span {
    background-color: #fff;
  }
  .nav-icon span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 2px;
    left: 4px;
    width: 100%;
  }

  .nav-icon span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }

  .nav-icon span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 16px;
    left: 4px;
    width: 100%;
  }
}

.menu-button {
  display: none;
}

@media screen and (max-width: 1200px) {
  button.menu-toggle,
  .main-navigation.toggled .menu-main-nav-container {
    display: flex;
  }

  .menu-main-nav-container {
    display: none !important;
  }

  .main-navigation {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;

    .nav-menu {
      > .menu-item.header-button {
        margin-bottom: 0px;
        padding: 12px;
        width: 100%;
        text-align: center;
        padding: 0;
        margin: 10px 0 0 0;

        > a {
          padding: 12px 20px;
          font-size: 16px;
          margin: 0;
          width: 100%;
          text-align: center;
          max-width: 400px;
        }
      }
      > .menu-item > a {
        font-size: 16px;
        margin-bottom: 0em;
        padding: 10px 0 10px 0;
        transition: all 0.3s ease-in-out;

        &:hover {
        }
      }

      .menu-item.parent-open > .sub-menu {
        margin-top: 10px;
      }

      .sub-menu {
        margin: 0;
        padding: 0;
        background-color: $color__blue;
        z-index: 99;
        display: flex;
        flex-direction: column;
        border-radius: 0 16px 16px 16px;
        width: 100%;

        ul {
          list-style: none;
        }

        li {
          list-style: none;

          a {
            color: $color__midnight-green;
            transition: all ease-in-out 0.3s;
            padding: 10px 20px;
            font-size: 12px;
            font-weight: 400;
            text-decoration: none;
          }

          &:hover > ul,
          &.focus > ul {
            display: block;
            left: auto;
          }
        }

        a {
          transition: all 0.3s ease-in-out;
          text-decoration: underline;
          font-size: 16px;

          &:hover {
          }
        }
      }
    }

    a {
      display: block;
      text-decoration: none;
    }
  }

  .sub-menu {
  }

  //   open navigation

  .main-navigation .menu-main-nav-container {
    overflow: hidden;
  }

  .main-navigation.toggled {
    .menu-main-nav-container {
      position: absolute;
      right: 0;
      top: 50px;
      width: 100%;
      height: 0;
      margin-top: 10px;
      z-index: 2;
      padding: 0px;
      background: $color__midnight-green;
      border-bottom-right-radius: 1em;
      border-bottom-left-radius: 1em;
      display: flex !important;
    }

    .nav-menu {
      flex-direction: column;
      z-index: 2;
      padding: 20px;
      list-style: none;
      margin: 0;
      gap: 0px;
      width: 100%;

      > .menu-item-has-children {
        & > a {
          pointer-events: none;
        }

        flex-direction: column;
        align-items: flex-start;
      }
    }
  }

  .site-header {
    position: fixed;
    width: 100%;
    z-index: 5;
  }
  .site-header .site-header-inner {
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    position: relative;
  }
  .site-branding {
    img {
      max-width: 200px;
    }
  }
  .main-navigation {
    position: static;
  }
}

body.nav-open {
  //   overflow: hidden;
  //   position: fixed;
  //   width: 100%;
}

#primary-menu {
  scroll-margin-top: 0;
}
