button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: $color__border-button;
  border-radius: 3px;
  background: $color__background-button;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1;
  padding: 0.6em 1em 0.4em;

  &:hover {
    border-color: $color__border-button-hover;
  }

  &:active,
  &:focus {
    border-color: $color__border-button-focus;
  }
}

.wp-element-button,
.site-header .nav-menu > li.header-button > a,
.blue-button {
  font-size: 16px;
  color: $color__midnight-green;
  background-color: $color__blue;
  text-transform: capitalize;
  padding: 20px 30px;
  border-radius: 50px;
  transition: all ease-in 0.3s;
  margin: 0;
  font-weight: $font__weight-500;
  text-decoration: none;

  &:hover {
    background-color: $color__blue-lite;
  }

  &:visited {
    color: $color__midnight-green;
  }
}

// intake form button
.forminator-button {
  border: 0;
  font-size: 16px;
  color: $color__midnight-green !important;
  background-color: $color__blue !important;
  text-transform: capitalize;
  padding: 20px 30px !important;
  border-radius: 50px !important;
  transition: all ease-in 0.3s !important;
  font-weight: $font__weight-500;
  margin: auto !important;
  display: flex !important;
  box-shadow: none !important;

  &:hover {
    background-color: $color__blue-lite !important;
  }

  &:visited {
    color: $color__midnight-green !important;
  }
}

.site-header .nav-menu > li.header-button > a {
  padding: 10px 20px;
  margin-right: 20px;
}

.wp-block-buttons {
  gap: 20px;
}

.therapists-loop,
.treatments-loop,
.brown-buttons {
  .post-button,
  .wp-element-button {
    font-size: 16px;
    color: $color__alabaster;
    background-color: $color__driftwood;
    text-transform: capitalize;
    padding: 30px 20px;
    border-radius: 8px;
    transition: all ease-in 0.3s;
    margin: 0;
    font-weight: $font__weight-500;
    text-decoration: none;

    &:hover {
      background-color: $color__driftwood-lite;
    }
  }
}
