// $color__background-body: #fff;
// $color__background-screen: #f1f1f1;
// $color__background-hr: #ccc;
// $color__background-button: #e6e6e6;
// $color__background-pre: #eee;
// $color__background-ins: #fff9c0;

// $color__text-screen: #21759b;
// $color__text-input: #666;
// $color__text-input-focus: #111;
// $color__link: #4169e1; //royalblue
// $color__link-visited: #800080; //purple
// $color__link-hover: #191970; //midnightblue
// $color__text-main: #404040;

// $color__border-button: #ccc #ccc #bbb;
// $color__border-button-hover: #ccc #bbb #aaa;
// $color__border-button-focus: #aaa #bbb #bbb;
// $color__border-input: #ccc;
// $color__border-abbr: #666;

$color__background-body: #eeede7;
$color__background-screen: #eeede7;
$color__background-hr: #afa197;
$color__background-button: #eeede7;
$color__background-pre: #afa197;
$color__background-ins: #afa197;

$color__text-screen: #8ab9b5;
$color__text-input: #978477;
$color__text-input-focus: #083435;
$color__link: #8ab9b5;
$color__link-visited: #8ab9b5;
$color__link-hover: #083435;
$color__text-main: #083435;

$color__border-button: #eeede7 #eeede7 #afa197;
$color__border-button-hover: #eeede7 #afa197 #aaa;
$color__border-button-focus: #aaa #afa197 #afa197;
$color__border-input: #eeede7;
$color__border-abbr: #978477;

$color__midnight-green: #083435;
$color__blue: #8ab9b5;
$color__blue-lite: #b3d1cf;
$color__driftwood: #978477;
$color__driftwood-lite: #afa197;
$color__alabaster: #eeede7;

$color__opacity-blue: #8ab9b533;
$color__opacity-driftwood: #97847733;
